<section fxLayout="column" fxFlexAlign="stretch"> 

  <button mat-fab color="primary"  (click)="startEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="primary"  (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
  </button>
    <div class="wrapper">
      <div class="box">
        <lib-ngx-image-zoom
    [thumbImage]=product.image
    [fullImage]=product.image
    [magnification]="1"
    [enableScrollZoom]="true"
    [enableLens]="true"
    [lensWidth]="200"
></lib-ngx-image-zoom>
          <p>Title : {{product.title}}</p>
          <p>Description : {{product.description}}</p>
          <p>Location : {{product.location}}</p>
          <p>In Stock : {{product.inStock}}</p>
          <p>Price : {{product.price}}</p>
          <p>Rating : {{product.rating}}</p>
      </div>
  </div>
  
  </section>
  