<section fxLayout="column" fxFlexAlign="stretch"> 

  <button mat-fab color="primary"  (click)="startEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-fab color="primary"  (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
  </button>
    <div class="wrapper">
      <div class="box">
          <img [src]="product.image">
          <p>Title : {{product.title}}</p>
          <p>Description : {{product.description}}</p>
          <p>Location : {{product.location}}</p>
          <p>In Stock : {{product.inStock}}</p>
          <p>Price : {{product.price}}</p>
          <p>Rating : {{product.rating}}</p>
      </div>
  </div>
  
  </section>
  