<section fxLayout="column" fxFlexAlign="stretch"> 
  <div class="form search-product">
    <mat-form-field floatPlaceholder="never" color="primary">
      <input matInput  placeholder="Search Product" [(ngModel)]="search">
    </mat-form-field>
  </div>
  <div class="wrapper">
    <div class="box" *ngFor="let product of products | filter:search" [routerLink]="['/product-detail', product.id]">
        <img [src]="product.image">
        <p>{{product.title}}</p>
    </div>
</div>

<div class="example-button-row">
  <div class="example-flex-container">
    <div class="example-button-container">
      <button mat-fab color="primary"  (click)="addNew()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
</section>

